.App {
  display: flex;
  justify-content: center;
  align-items: center;
  --red-color: rgb(255, 0, 0);
  --blue-color: rgba(21, 0, 255);
  --yellow-color: rgba(246, 255, 0);
  --green-color: rgb(13, 255, 0);
}

.board {
  position: relative;
}

.board > table {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.board td,
.board > table {
  padding: 0;
  border: none;
}

.homebase.red,
.track-for-player.red,
.finish-goal .red {
  --box-color: var(--red-color);
  --token-color: rgb(255, 98, 98);
}
.homebase.blue,
.track-for-player.blue,
.finish-goal .blue {
  --box-color: var(--blue-color);
  --token-color: rgb(107, 93, 255);
}
.homebase.yellow,
.track-for-player.yellow,
.finish-goal .yellow {
  --box-color: var(--yellow-color);
  --token-color: rgb(173, 179, 0);
}
.homebase.green,
.track-for-player.green,
.finish-goal .green {
  --box-color: var(--green-color);
  --token-color: rgb(0, 140, 12);
}

.homebase {
  width: 210px;
  height: 210px;
  padding: 20px;
  background-color: var(--box-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.homebase .innerbox {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

.homebase table {
  width: 150px;
  height: 150px;
}

.homebase td {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(228 228 228);
  margin: 10px;
  vertical-align: middle;
}

.player-token {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20px;
  background-color: var(--token-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.track-for-player {
  z-index: 2;
  position: relative;
}
.track-for-player table,
.track-for-player td {
  border: 1px solid;
}

.track-for-player table {
  border-collapse: collapse;
}

.track-for-player.verticle table {
  width: 200px;
  height: 320px;
}

.track-for-player.horizontal table {
  width: 320px;
  height: 200px;
}

.track-for-player td {
  min-width: 50px;
}

.safe-square {
  background-color: #d4d4d4;
}

.finish-goal {
  width: 282.84px;
  /* height: 150px; 141.42  */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transform: rotate(45deg);
  z-index: 1;
  position: absolute;
  top: 280px;
  left: 279px;
}

.finish-goal div {
  background-color: var(--box-color);
  width: 141.42px;
  height: 141.42px;
}

.footer {
  display: flex;
  align-items: center;
}

.footer h1 {
  margin: 0 10px;
}
