.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  position: relative;
}

.board td,
.board > table {
  padding: 0;
  border: none;
}

.homebase.red,
.track-for-player.red,
.finish-goal .red {
  --box-color: rgb(255, 0, 0);
}
.homebase.blue,
.track-for-player.blue,
.finish-goal .blue {
  --box-color: rgba(21, 0, 255);
}
.homebase.yellow,
.track-for-player.yellow,
.finish-goal .yellow {
  --box-color: rgba(246, 255, 0);
}
.homebase.green,
.track-for-player.green,
.finish-goal .green {
  --box-color: rgb(13, 255, 0);
}

.homebase {
  width: 210px;
  height: 210px;
  padding: 20px;
  background-color: var(--box-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.homebase .innerbox {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

.homebase table {
  width: 150px;
  height: 150px;
}

.homebase td {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--box-color);
  margin: 10px;
}

.track-for-player {
  z-index: 2;
  position: relative;
}
.track-for-player table,
.track-for-player td {
  border: 1px solid;
}

.track-for-player table {
  border-collapse: collapse;
}

.track-for-player.verticle table {
  width: 200px;
  height: 320px;
}

.track-for-player.horizontal table {
  width: 320px;
  height: 200px;
}

.track-for-player td {
  min-width: 50px;
}

.safe-square {
  background-color: #d4d4d4;
}

.finish-goal {
  width: 282.84px;
  /* height: 150px; 141.42  */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  transform: rotate(45deg);
  z-index: 1;
  position: absolute;
  top: 281px;
  left: 284px;
}

.finish-goal div {
  background-color: var(--box-color);
  width: 141.42px;
  height: 141.42px;
}
