.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homebase.red,
.track-for-player.red {
  --box-color: rgb(255, 0, 0);
}
.homebase.blue,
.track-for-player.blue {
  --box-color: rgba(21, 0, 255, 0.9);
}
.homebase.yellow,
.track-for-player.yellow {
  --box-color: rgba(246, 255, 0, 0.942);
}
.homebase.green,
.track-for-player.green {
  --box-color: rgb(13, 255, 0);
}

.homebase {
  padding: 20px;
  background-color: var(--box-color);
}

.homebase .innerbox {
  background-color: white;
  padding: 10px;
  border-radius: 20px;
}

.homebase td {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--box-color);
  margin: 10px;
}

.track-for-player table,
.track-for-player td {
  border: 1px solid;
  /* width: 50px; */
  height: 50px;
}

.track-for-player td {
  min-width: 50px;
}

.track-for-player table {
  width: 100%;
  border-collapse: collapse;
}
